<app-tab-container></app-tab-container>

<div class="space-y-6">

  <div class="bg-primary text-white text-center px-6 py-3 rounded-lg shadow">
    Bienvenido a tu centro de Gestión
  </div>

  <div class="bg-white rounded-lg shadow p-6 space-y-4">

    <p class="text-text-muted">
      Desde este espacio puedes administrar usuarios
      y supervisar la operación diaria.
    </p>

     <p class="text-text-muted">
      Tu rol te permite controlar la operación diaria sin modificar la configuración estructural del sistema.
Utiliza el menú lateral para acceder a los módulos disponibles.
    </p>

    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">

      <div class="card bg-transparent border-bg-primary">
        <h3 class="font-semibold mb-2">Tu Rol</h3>
        <p>ADMIN 
          <span class="text-text-muted">
            (Administrador)
          </span>
        </p>
      </div>

      <div class="card">
        <h3 class="font-semibold mb-2">Accesos Rápidos</h3>

        <button 
  class="btn-outline w-full mb-2"
  (click)="openCreateUser()">
  Crear Usuario
</button>

<button 
  class="btn-outline w-full"
  (click)="openReports()">
  Ver Reportes
</button>


      </div>

    </div>

     <!-- 🔥 BOTONES INFERIORES -->
  <div class="flex flex-col md:flex-row gap-6 pt-6">

   <a
  href="https://github.com/NutriaDev/SIGEBI/tree/develop"
  target="_blank"
  rel="noopener noreferrer"
  class="bg-primary text-white px-6 py-3 rounded-lg shadow hover:opacity-90 transition w-full text-center block"
>
  Descargar Manual de Usuario
</a>

<a
  href="https://github.com/NutriaDev/SIGEBI/tree/develop"
  target="_blank"
  rel="noopener noreferrer"
  class="bg-primary text-white px-6 py-3 rounded-lg shadow hover:opacity-90 transition w-full text-center block"
>
  Demo
</a>



  </div>

 

</div>




