<div class="max-w-5xl mx-auto">
  <!-- HEADER -->
  <div class="bg-primary px-6 py-4 rounded-lg shadow mb-8">
    <h2 class="text-lg text-white font-semibold">Gestión de Usuarios</h2>
  </div>

  <!-- CARD -->
  <div class="bg-transparent rounded-xl shadow-lg p-8 space-y-6">
    <!-- LISTADO -->
    <div class="space-y-4">
      <!-- Usuario Item -->
      <div
        *ngFor="let user of users"
        class="bg-secondary-light rounded-lg p-4 shadow-sm flex flex-col md:flex-row md:items-center md:justify-between gap-4"
      >
        <!-- Info -->
        <div class="text-sm md:text-base font-medium text-text-main">
          {{ user.roleName }} / {{ user.name }} {{ user.lastname }}
        </div>

        <!-- Acciones -->
        <div class="flex gap-3">
          <button
            class="bg-primary text-white px-4 py-2 rounded-md shadow-sm text-sm hover:opacity-90"
            (click)="openEditUser()"
          >
            Editar
          </button>

          <button
            class="bg-primary text-white px-4 py-2 rounded-md shadow-sm text-sm hover:opacity-90"
            (click)="(null)"
          >
            Bloquear
          </button>

          <button
            class="bg-primary text-white px-4 py-2 rounded-md shadow-sm text-sm hover:opacity-90"
            (click)="(null)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
