<div class="bg-white p-6 rounded shadow">
  <h3 class="font-bold mb-4">{{ title }}</h3>

  <!-- BOTONES -->

  <div class="flex gap-3 mb-4">
    <button (click)="viewMode = 'list'">Listar</button>

    <button (click)="viewMode = 'create'">Crear</button>
  </div>

  <!-- LIST -->

  <div *ngIf="viewMode === 'list'">
    <div *ngFor="let item of items" class="flex justify-between border-b py-2">
      <span>{{ item.name }}</span>

      <button (click)="select(item)">Editar</button>
    </div>
  </div>

  <!-- CREATE -->

  <div *ngIf="viewMode === 'create'">
    <input [(ngModel)]="newName" />

    <button (click)="create()">Guardar</button>
  </div>

  <!-- UPDATE -->

  <div *ngIf="viewMode === 'update'">
    <input [(ngModel)]="selected.name" />

    <div class="flex gap-2">
      <button (click)="update()">Actualizar</button>

      <button (click)="deactivate()">Desactivar</button>
    </div>
  </div>
</div>
